<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="District" value="Moscow Oblast" />
		<add key="FirstDeliveryTime" value="2022-10-15 14:36:52" />
		<add key="LogPath" value="I:\Code_Source\EffectiveMobileTestTask\EffectiveMobileTestTask\data\logs.json" />
		<add key="OutputPath" value="I:\Code_Source\EffectiveMobileTestTask\EffectiveMobileTestTask\data\output.json" />
	</appSettings>
</configuration>